{#
/**
 * @file
 * Template implementation for the media_indiveo_embed theme hook.
 *
 * Available variables:
 * - embed_url: (string) The embed URL for the Indiveo video.
 * - width: (int) The width of the iframe, in pixels.
 * - height: (int) The height of the iframe, in pixels.
 */
#}
{{ dump() }}
<iframe src="{{ embed_url }}"
        width="{{ width }}"
        height="{{ height }}"
        frameborder="0"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
